!!! 5
%html
  %head
    %title
      Grid check
    <link rel="stylesheet" type="text/css" href="stylesheets/app.css" />
  %body
    .container
      .grid
      %script{ src: 'https://code.jquery.com/jquery-2.1.4.js' }
      %script{ src: 'js/app.js' }
