!!! 5
%html
  %head
    %title
      GCHQ Director's Challenge Christmas Card Puzzle
    <link rel="stylesheet" type="text/css" href="stylesheets/app.css" />
  %body
    .container
      .heading
        .h2 GCHQ Director's Challenge Christmas Card Puzzle
        %p
          This is the grid shading puzzle that was printed on Christmas cards sent out for the 2015 season by Britain's intelligence agency, GCHQ.
        %p
          I've created this site as a way to play the puzzle without pen and paper.
        %p
          For explanation and rules, check out the original puzzle press release at
          %a{ href: 'http://www.gchq.gov.uk/press_and_media/news_and_features/Pages/Directors-Christmas-puzzle-2015.aspx' }
            GHCQ's home page
          \.
        %p
          Version specific instructions:
        %ul
          %li
            Tap a grid cell to toggle its shading.
          %li
            Use a long-tap to toggle a cell's lock. This allows you to lock in cells that you're certain about, so that you don't accidentally change them.
          %li
            When you've met the requirements for a row or column, the label will turn green. When all rows and columns are green, you've won!
      .grid{ oncontextmenu: 'return false' }
      .controls
        %a#undo-btn{ href: '#' }
          %img{ src: 'resources/undo-arrow.png' }
        %a#redo-btn{ href: '#' }
          %img{ src: 'resources/redo-arrow.png' }
      %script{ src: 'https://code.jquery.com/jquery-2.1.4.js' }
      %script{ src: 'https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js' }
      %script{ src: 'js/app.js' }
