.cell {
  float: left;
  border: 1px solid grey;
  width: 30px;
  height: 30px;
}
.column-sequence {
  clear: left;
  width: 100%;
}
.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.controls {
  display: block;
  clear: both;
}
.grid {
  position: relative;
  display: block;
}
.hidden {
  display: none;
}
.locked {
  background-image: url('../resources/small-lock.png');
  background-position: center;
  background-repeat: no-repeat;;
  background-size: 15px;
}
.row {
  clear: left;
}
.sequence {
  font-weight: bold;
}
.ui-loader {
  display: none !important;
}
.vertical {
  border: 1px solid white;
  text-align: center;
  display: block;
  float: left;
  width: 30px;
  height: 100px;
}
