.grid {
  display: block;
}
.row {
  clear: left;
}
.cell {
  float: left;
  border: 1px solid grey;
  width: 30px;
  height: 30px;
}
.column-sequence {
  clear: left;
  width: 100%;
}
.vertical {
  border: 1px solid white;
  text-align: center;
  display: block;
  float: left;
  width: 30px;
  height: 100px;
}
